/* @media (min-width: 767px) and (max-width: 992px) {
  .logo-size {
    width: 175px;
    height: auto;
    background-color: black;
  }

} */

.my-ovrllay {
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  right: 0;
  background-image: linear-gradient(0deg, #5955d69c, #0000009c) !important;
}
